<header class="ht-header">
  <div class="container">
    <nav id="mainNav" class="navbar navbar-default navbar-custom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header logo">
        <div
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
        >
          <span class="sr-only">Toggle navigation</span>
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <a href="index.html"
          ><img
            class="logo"
            src="assets/images/logo1.png"
            alt=""
            width="119"
            height="58"
        /></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div
        class="collapse navbar-collapse flex-parent"
        id="bs-example-navbar-collapse-1"
      >
        <ul class="nav navbar-nav flex-child-menu menu-left">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <!-- top search form -->
            <div class="top-search">
              <p-dropdown
                [options]="searchTypes"
                [(ngModel)]="selectedSearchType"
                optionLabel="name"
              ></p-dropdown>
              <span class="p-input-icon-right">
                <i class="pi pi-search" (click)="handleSearch()"></i>
                <input pInputText type="text" [(ngModel)]="searchTerm" />
              </span>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
