.top-search {
  gap: 2px;

  &::ng-deep {
    .p-dropdown {
      background-color: #233a50;
      font-family: "Nunito", sans-serif;

      .p-dropdown-label {
        font-size: 14px;
        font-weight: bold;
        padding: 12px 12px;
        width: 100px;
      }

      .p-dropdown-trigger {
        padding: 0 20px;
        font-size: 24px;
      }

      .p-dropdown-items {
        background-color: #172634;
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin: 0;
        padding: 12px 12px;
      }
    }
  }

  i {
    cursor: pointer;
    font-size: 14px;
    margin-right: 4px;
  }
  input {
    width: 600px;
  }
}
